<h1><%= @user.username %></h1>

<h2>Wall</h2>
<ul class="secrets_list">
  <% @user.received_secrets.each do |secret| %>
    <li><%= secret.title %>
<!--     <form action="<%= secret_url(secret) %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="hidden" name="secret[id]" value="<%= secret.id %>">
      <input type="submit" value="Delete"%>
    </form> -->
  </li>
    <ul>
      <% secret.tags.each do |tag| %>
        <li><%= tag.title %></li>
      <% end %>
    </ul>
  <% end %>
</ul>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %> 
<% end %>

<%= render 'secrets/form', secret: @user.received_secrets.new %>
<br>
<%= link_to "Back to Users", users_url %>


<script>
    $("form.secrets_form").on("submit", function (event) {
      event.preventDefault();

      var $currentTarget = $(event.currentTarget);
      var data = $currentTarget.serializeJSON();

      $.ajax({
        url: '/secrets',
        type: 'POST',
        data: data,
        success: function (data) {
          $('ul.secrets_list').append($("<li>").text(data.title));

          $currentTarget.find("input#secret_title").val("");
        }
      });

    });
</script>