<% if flash.now[:errors] %>
  <% flash.now[:errors].each do |error| %>
    <%= puts error %>
  <% end %>
<% end %>

<form action="<%= secrets_url %>" method="POST" class="secrets-form">
  <input
     type="hidden"
     name="secret[recipient_id]"
     value="<%= secret.recipient_id %>">
     <!-- Why is this ^ not "user.id"? -->

  <input type="text" 
    name="secret[title]" 
    id="secret_title"
    value="<%= secret.title %>">

  <div class="secret-tag-selects"></div>
  <a href="#" class="add-secret-tag">Add Tag</a>

  <input type='submit' id="create-secret" name="Post on Wall">
</form>


<script template='application/json' id='bootstrapped_tags'>
  <%= Tag.all.to_json.html_safe %>
</script>

<script type='template/underscore' id='secret-tag-select-template'>
  <select name="secret[tag_ids][]">
  <option></option>
    <%% _(tags).each(function (tag) { %>
      <option value='<%%= tag.id %>'>
        <%%= tag.title %>
      </option>
    <%% }) %>
  </select>
  <br>
</script>

<script type='application/javascript'>
  var TAGS = JSON.parse($('#bootstrapped_tags').html());

  var templateFn = _.template($("#secret-tag-select-template").html());
  $('div.secret-tag-selects').append(templateFn({tags: TAGS}))
</script>

<script>
$(function () {
  $('a.add-secret-tag').on('click', function(event) {
    event.preventDefault();
    var TAGS = JSON.parse($('#bootstrapped_tags').html());
    var templateFn = _.template($("#secret-tag-select-template").html());
    var renderedContent = templateFn({tags: TAGS});
    $('div.secret-tag-selects').append(templateFn({tags: TAGS}))
  })
})
</script>
